* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  color: #5c48ee !important;
  background-color: #fff;
  border: 2px solid #5c48ee;
  padding: 8px 15px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

body {
  background-color: #f7f8fd;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.section_nav {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 2rem;
}

.left_nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.section_logo {
  display: flex;
  align-items: center;
}

.section_logo h1 a {
  color: #5c48ee;
}

.right_nav {
  width: 60%;
}

.right_nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.right_nav nav li a {
  font-size: 16px;
  font-weight: bold;
  color: black;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.right_nav nav li:not(:last-child) a:hover,
.mobile_nav_list li:not(:last-child) a:hover {
  color: #5c48ee;
}

.right_nav nav li a.active:hover,
.mobile_nav_list li a.active:hover {
  color: #fff !important;
  background-color: #5c48ee;
}

.mobile_nav,
.hamburger,
.mobile_nav_list {
  display: none;
}

.line {
  border-bottom: 3px solid;
  width: 22px;
  display: block;
  margin-bottom: 4px;
}

.line_top,
.line_mid,
.line_bottom {
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.mobile_nav_list {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 100%;
  width: 30%;
  padding: 4rem 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateX(-500px);
  -webkit-transform: translateX(-500px);
  -moz-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  -o-transform: translateX(-500px);
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  z-index: 1;
}

.mobile_nav_list li a {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#toggle_nav {
  position: relative;
  bottom: 10px;
}

.section_content{
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  padding: 0 2rem;
}

.section_content_left{
  /* background-color: rgb(227, 220, 196); */
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 50%;
}

.paragraph{
  /* background-color: rgb(212, 153, 111); */
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
}

.upper{
  font-size: 30px;
  line-height: 36px;
  text-wrap: nowrap;
}

.p1{
  opacity: 0.7;
}

.p2{
  font-weight: 800;
  opacity: 0.8;
}

.p3{
  font-weight: 800;
  color: #5c48ee;
}

.lower{
  font-size: 14px;
  line-height: 1.2rem;
  opacity: 0.7;
}

.search_box{
  width: 85%;
}

.search_box form{
  display: flex;
}

.search_box form input{
  padding: 1rem;
  width: 70%;
  font-size: 12px;
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.search_box form button{
  padding: 1rem;
  font-size: 14px;
  color: #fff;
  background-color: #5c48ee;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  white-space: nowrap;
}

.section_content_right{
  /* background-color: rgb(225, 205, 141); */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.section_images{
  display: flex;
  justify-content: space-evenly;
}

.s1 {
  position: relative;
  top: 120px;
}

.s1 img,.s2 img{
  width: 200px;
  height: 250px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.section_glassy {
  background: linear-gradient(
    to right,
    rgba(92, 72, 238, 0.6),
    rgba(15, 30, 106, 0.2)
  );
  backdrop-filter: blur(10px);
  width: 55%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  border-radius: 10px;
  font-size: 14px;
  position: relative;
  left: 150px;
  bottom: 45px;
}

.section_glassy ul li {
  list-style-type: disc;
  color: #fff;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  .section_nav {
    justify-content: space-around;
    font-size: 14px;
  }

  .right_nav nav li a {
    font-size: 12px;
  }

  .section_content{
    flex-direction: column;
    justify-content: flex-start;
    height: 800px;
  }

  .section_content_left{
    width: 90%;
    height: 40%;
    justify-content: space-around;
    padding: 0 1rem;
  }

  .paragraph{
    align-items: center;
    height: 80%;
  }

  .upper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search_box{
    width: 100%;
  }

  .search_box form input{
    width: 100%;
  }

  .section_content_right{
    width: 90%;
    height: 50%;
    justify-content: space-around;
    padding: 0 1rem;
  }

  .s1 {
    position: relative;
    top: 80px;
  }

  .s2 {
    position: relative;
    top: 50px;
  }

  .section_glassy{
    width: 250px;
    height: 18%;
    position: relative;
    left: 30%;
    bottom: 70px;
  }
}

@media screen and (max-width: 800px) {
  .right_nav {
    display: none;
  }

  .section_nav {
    font-size: 18px;
  }

  .mobile_nav {
    display: block;
  }

  .hamburger {
    display: block;
    position: relative;
    top: 44px;
    cursor: pointer;
  }

  #toggle_nav:checked + label + nav {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  #toggle_nav:checked + label span.line_mid {
    opacity: 0;
  }

  #toggle_nav:checked + label span.line_top {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    top: 6px;
  }

  #toggle_nav:checked + label span.line_bottom {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    bottom: 6px;
  }

  .section_content_left{
    height: 35%;
  }
}

@media screen and (max-width: 600px) {
  .section_content{
    height: 950px;
  }

  .section_content_right{
    height: 70%;
    align-items: center;
  }

  .section_images{
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }

  .s1 {
    position: relative;
    top: 0;
  }

  .s2 {
    position: relative;
    top: -20px;
  }

  .section_glassy{
    width: 250px;
    height: 75px;
    position: relative;
    left: 0;
    bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .mobile_nav_list {
    padding: 4rem 2rem 2rem 2rem;
  }
}

@media screen and (max-width: 500px) {
  .section_content_left{
    width: 100%;
  }

  .search_box form input{
    font-size: 10px;
    padding: 0.75rem;
  }

  .search_box form button{
    font-size: 8px;
    padding: 0.75rem;
  }
}

@media screen and (max-width: 400px) {
  .mobile_nav_list {
    padding: 4rem 2rem 2rem 0.5rem;
  }

  .upper{
    font-size: 20px;
  }

  .p4{
    font-size: 12px;
  }
}
